$neutral-white: #fff;
$main-red: #dd2242;
$btn-hover: rgba(255, 255, 255, 0.80);
$neutral-gray: #939393;
$bg-header: #010A20;
$text-lighten: #E0E0E0;
$accent-titles: #010A20;
$dark-bg: rgba(2, 12, 33, 0.9);
$strong-title-accent: #000;
$Paragraph-Dark: #6F7787;
$way-bg: #DCE8F2;
$Light-Text: rgba(21, 20, 57, 0.40);
$footer-bg: #010A20;