@import '../../colors';

.indonesia-secrets {
  padding-top: 25px;
  height: 2063px;

  background: url(/images/mobile/mountain@mobile-1x.png);
  background-size: 100% 2063px;
  background-repeat: no-repeat;
  background-position: top;
  height: 2017px;
  overflow: hidden;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(/images/mobile/mountain@mobile-2x.png);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 23px;
  }

  &__title {
    color: $accent-titles;
    text-align: center;

    /* Mobile H1 */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;

    /* 115% */
    @media screen and (max-width: 426px) {
      font-size: 10.67vw;
      line-height: 12.27vw;
    }
  }

  &__slider {
    width: 314px;
    height: 200px;
  }

  &__slider-img {
    border-radius: 10px;
    width: 314px;
    height: 200px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-control-prev {
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url(/images/prev.svg);
  width: 12px;
  height: 19.546px;
}

.carousel-control-next {
  opacity: 1;
}

.carousel-control-next-icon {
  background-image: url(/images/next.svg);
  width: 12px;
  height: 19.546px;
}