@import '../../colors';

.indonesia-secrets {
  padding-top: 25px;
  height: 2063px;

  background: url(/images/mobile/mountain@mobile-1x.png);
  background-size: 100% 2063px;
  background-repeat: no-repeat;
  background-position: top;
  height: 2017px;
  overflow: hidden;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(/images/mobile/mountain@mobile-2x.png);
  }

  @media screen and (min-width: 1024px) {
    background: url(/images/desktop/mountain@desktop-1x.png);

    background-size: 100% 2207px;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(/images/desktop/mountain@desktop-2x.png);
    }

    padding-top: 127px;
    height: 2207px;;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 23px;

    @media screen and (min-width: 1024px) {
      gap: 44px;
    }
  }

  &__title {
    color: $accent-titles;
    text-align: center;

    /* Mobile H1 */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;

    /* 115% */
    @media screen and (max-width: 426px) {
      font-size: 10.67vw;
      line-height: 12.27vw;
    }

    @media screen and (min-width: 1024px) {
      font-size: 50px;
      line-height: 150%;
    }
  }

  &__slider {
    width: 314px;
    height: 200px;

    @media screen and (min-width: 1024px) {
      width: 405px;
      height: 257px;
    }
  }

  &__slider-img {
    border-radius: 10px;
    width: 314px;
    height: 200px;

    @media screen and (min-width: 1024px) {
      width: 405px;
      height: 257px;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-control-prev {
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url(/images/prev.svg);
  width: 12px;
  height: 19.546px;

  @media screen and (min-width: 1024px) {
    width: 14.677px;
    height: 23.906px;
  }
}

.carousel-control-next {
  opacity: 1;
}

.carousel-control-next-icon {
  background-image: url(/images/next.svg);
  width: 12px;
  height: 19.546px;

  @media screen and (min-width: 1024px) {
    width: 14.677px;
    height: 23.906px;
  }
}

.carousel-control-prev {
  @media screen and (min-width: 1024px) {
    left: -124px;
  }
}
.carousel-control-next {
  @media screen and (min-width: 1024px) {
    right: -124px;
  }
}