@import '../../colors';

.indonesian-life {
  background: url(/images/mobile/road@mobile-1x.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(/images/mobile/road@mobile-2x.png);
  }

  @media screen and (min-width: 1024px) {
    background: url(/images/desktop/road@desktop-1x.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(/images/desktop/road@desktop-2x.png);
    }
  }

  position: relative;
  z-index: 1;

  &__content {
    padding-top: 83px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 3;

    @media screen and (min-width: 1024px) {
      padding: 140px 0 210px 0;
    }
  }

  &__title {
    color: $neutral-white;
    text-align: center;

    /* Mobile H1 */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;

    /* 115% */
    @media screen and (max-width: 426px) {
      font-size: 10.67vw;
      line-height: 12.27vw;
    }

    @media screen and (min-width: 1024px) {
      width: 1056px;
      font-size: 42px;
      line-height: 50px;
    }
  }

  &__video-block {
    margin: 67px 0 40px 0;

    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
      margin: 67px 0 125px 0;
    }
  }

  &__video {
    display: block;
    max-width: 100%;
    height: auto;

    @media screen and (min-width: 1024px) {
      width: 1056px;
      height: 594px;
    }
  }

  &__video-play {
    width: 17.87vw;
    height: 17.96vw;
    max-width: 76px;
    max-height: 76px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1024px) {
      width: 96px;
      height: 96px;
      max-width: 96px;
      max-height: 96px;
    }
  }

  &__video-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 75px;
    }
  }

  &__video-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 42px;
    }
  }

  &__video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
      width: 234px;
      height: 151px;
    }
  }

  &__play-btn {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 16px;
    height: 18px;
    cursor: pointer;

    @media screen and (min-width: 1024px) {
      width: 21.943px;
      height: 27.431px;
    }
  }

  &__video-title {
    color: $neutral-white;
    text-align: center;

    /* Mobile H2 */
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 33px */

    margin: 40px 0 20px 0;

    @media screen and (min-width: 1024px) {
      font-size: 18px;
      line-height: 150%;
      margin: 0 0 15px 0;
      text-align: start;
    }
  }

  &__video-descr {
    color: $neutral-white;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Mobile Paragraph 1 */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    opacity: 0.7;

    @media screen and (min-width: 1024px) {
      max-width: 334.629px;
      font-size: 18px;
      line-height: 28px;
      text-align: start;
    }
  }

  &__shading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #010A20;
    z-index: 2;
  }
}