@import '../../colors';

.way {
  background: $way-bg;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 29px 0 73px 0;

    gap: 45px;

    @media screen and (min-width: 1024px) {
      padding: 120px 0 25px 0;
      gap: 44px;
      position: relative;
    }
  }

  &__title {
    color: $accent-titles;
    text-align: center;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;


    @media screen and (max-width: 426px) {
      font-size: 10.67vw;
      line-height: 12.27vw;
    }

    @media screen and (min-width: 1024px) {
      font-size: 60px;
      line-height: 150%;
    }
  }

  &__trip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
      align-items: start;
    }
  }

  &__trip {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
      gap: 44px;
      flex-direction: row;
      align-items: start;
    }
  }

  &__trip-title {
    color: $accent-titles;
    text-align: center;


    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

    margin: 18px 0 13px 0;

    @media screen and (min-width: 1024px) {
      margin: 0 0 28px 0;

      font-size: 26.409px;
      line-height: 41.081px;
    }
  }

  &__trip-title-pc {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      margin-bottom: 12px;
    }
  }

  &__trip-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
      align-items: start;
      margin-bottom: 92px;
    }
  }

  &__trip-descr {
    color: $Light-Text;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Mobile Paragraph 1 */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;

    margin: 0;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__trip-descr-pc {
    display: none;

    color: var(--Light-Text, rgba(21, 20, 57, 0.40));
    font-family: "DM Sans";
    font-size: 23.475px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.146px;
    /* 162.5% */

    max-width: 1038px;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__trip-descr-pc--width {
    @media screen and (min-width: 1024px) {
      width: 446.02px;
    }
  }

  &__trip-show-more {
    color: $main-red;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Mobile Paragraph 1 */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__trip-video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      margin: 0 0 110px 98px;
      align-items: start;
    }
  }

  &__trip-video-block {
    position: relative;
  }

  &__trip-video {
    align-self: center;

    @media screen and (max-width: 426px) {
      width: 83.73vw;
      height: 55.47vw;
    }

    @media screen and (min-width: 1024px) {
      width: 249.419px;
      height: 165.79px;
    }
  }

  &__trip-video-txt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
      align-items: start;
    }
  }

  &__trip-play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__trip-step-number {
    @media screen and (min-width: 1024px) {
      width: 58.687px;
      height: 58.687px;
    }
  }

  &__trip-btn {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
    }

    border-radius: 122px;
    width: 210px;
    height: 64px;
    background: $main-red;
    border: none;

    margin-top: 16px;
  }

  &__trip-btn-txt {
    color: $neutral-white;
    text-align: center;

    /* CTA */
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 27px */

    transition: color 250ms linear;
  }

  &__trip-btn:hover>&__trip-btn-txt {
    color: $btn-hover;
  }

  &__line {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
    }

    position: absolute;
    left: 110px;
    top: 320px;
    width: 2.934px;
    height: 820px;
    opacity: 0.3;
    background: $Light-Text;
  }
}