@import '../../colors';

.navigation {
  background: $footer-bg;
  position: relative;
  padding: 155px 0 84px 0;

  @media screen and (min-width: 1024px) {
    padding: 39px 150px 31px 70px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;


    gap: 36px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 124px;
    }
  }

  &__links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__links {
    color: $neutral-white;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "DM Sans";
    font-size: 22.943px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.689px;
    /* 155.556% */
    letter-spacing: 0.637px;

    @media screen and (min-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
  }

  &__bottom-content {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 50px;
    }
  }

  &__socmedia {
    display: flex;
    gap: 48px;

    @media screen and (min-width: 1024px) {
      gap: 22px;
    }
  }

  &__socmedia-img {
    width: 30.987px;
    height: 30.987px;

    @media screen and (min-width: 1024px) {
      width: 24px;
      height: 24px;
    }
  }

  &__copyright {
    color: $neutral-white;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "DM Sans";
    font-size: 23.241px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.152px;
    /* 155.556% */
    letter-spacing: 0.646px;

    @media screen and (min-width: 1024px) {
      font-size: 18px;
      line-height: 28px;  
      letter-spacing: 0.5px;
    }
  }

}

.scroll-to-up {
  position: absolute;
  top: -41px;
  right: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 1024px) {
    right: 100px;
    top: -52px;
    transform: none;

  }

  &__btn {
    background: none;
    border: none;
  }

  &__img {
    width: 104px;
    height: 104px;
  }
}